<!DOCTYPE html>
<html>
<head>
	<title>
		SOS turismo
	</title>
	<script src="js/jquery.js"></script>
	<link rel="stylesheet" href="css/main.css" type="text/css">
	<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
	<link rel="stylesheet" href="css/bootstrap-theme.min.css" type="text/css">
	<script src="js/bootstrap.min.js"></script>
</head>
<body>
	<div class="row text-center">
		<div class="jumbotron">
			<div class="container">
				<h1>Cambiar mensaje de alerta</h1>
			</div>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="container">
			<form>
				<div class="form-group">
			    <label for="mensajeAlerta">Actualizar mensaje de alerta.</label>
			    <textarea class="form-control" id="mensajeAlerta" rows="5"></textarea>
					<hr>
					<button type="button" class="btn btn-primary btn-lg" id="botonAlerta" onclick="updateAlerta(mensajeAlerta.value)">Actualizar</button>
			  </div>
			</form>
			<hr>
			<h1 id="mensajeEnviado"></h1>
		</div>
	</div>
	<script src="/socket.io/socket.io.js"></script>
	<script src="js/alert.js"></script>
</body>
</html>
